 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #8e1616, #333333);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 2144px;
}

.u-section-1 .u-products-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1246px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-1 .u-image-1 {
  height: 400px;
  width: 495px;
  margin: 53px auto 0 31px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -399px 83px 0 619px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -2px 158px 0 650px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 93px 276px 0 auto;
  padding: 41px 117px 42px 116px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 24px;
}

.u-section-1 .u-image-2 {
  height: 400px;
  width: 495px;
  margin: 53px auto 0 31px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -399px 83px 0 619px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -2px 158px 0 650px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 93px 276px 0 auto;
  padding: 41px 117px 42px 116px;
}

.u-section-1 .u-products-2 {
  width: 1333px;
  margin: 52px -13px 60px auto;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 802px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 6px;
}

.u-section-1 .u-image-3 {
  height: 165px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 6px;
}

.u-section-1 .u-image-4 {
  height: 165px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 17px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-products-1 {
    margin-top: 1132px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 522px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 96px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 522px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 96px;
  }

  .u-section-1 .u-products-2 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 322px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 322px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-products-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 102px;
  }

  .u-section-1 .u-products-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-products-1 {
    margin-top: 1663px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 56px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-1 .u-products-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 258px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -257px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 258px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -257px;
  }

  .u-section-1 .u-products-2 {
    width: 340px;
  }
}